<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @recipe.title %>
</p>

<p>
  <% @recipe.materials.each do |material| %>
    <strong>材料:</strong>
    <%= material.material %>
    <strong>分量:</strong>
    <%= material.serving %>
  <% end %>
</p>

<p>
  <% @recipe.how_tos.each.with_index(1) do |howto, i| %>
    <strong><%= "#{ i }"%>：</strong>
    <%= howto.howto %>
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
